# Caddy vai gerar os certificados SSL/HTTPS automaticamente
comunaradio.duckdns.org {
	# Rota para a API do Node.js (REST e WebSockets)
	handle /api/* {
		uri strip_prefix /api
		reverse_proxy api:3005
	}
	
	# Rota para o Socket.io (Node.js)
	handle /socket.io/* {
		reverse_proxy api:3005
	}

	# Rota para o Extrator Python
	handle /extract* {
		reverse_proxy extractor:8000
	}

	# Rota para arquivos de mídia baixados
	handle_path /media/* {
		root * /downloads
		file_server
	}


	# (Opcional) Resposta padrão caso alguém acesse a raiz
	handle {
		respond "Radio Video API is running." 200
	}
}
